<!-- Navbar component -->
<app-navbar></app-navbar>


<!-- Full-page container -->
<div class="login-container">

  <!-- Centered login box -->
  <div class="login-box">

    <!-- Heading inside the login box (at the top) -->
    <div class="header">STUDENT & TEACHER LOGIN</div>

    <!-- Google login button exactly in the middle -->
    <div class="google_login">
      <div class="google_icon">
        <img src="assets/images/google_icon.ico" alt="Google Icon">
      </div>
      <button type="button" class="btn btn-secondary" (click)=" loginWithGoogle()">Sign in with Google</button>
    </div>

  </div>

</div>
