<app-navbar-loggedin></app-navbar-loggedin>

<div class="tables-container">
  <!-- Table Container - Centered -->
  <div class="table-container">
    <h2 *ngIf="role === 'CR'">List of Teaching Subjects</h2>
    <h2 *ngIf="role === 'USER'">List of Currently Studying Subjects</h2>
    
    <!-- Search Bar -->
    <div class="mb-3">
      <div class="input-group mt-3">
        <input type="text" class="form-control" placeholder="Search by SubjectCode" [(ngModel)]="searchsubjectCode">
        <button class="btn btn-primary mt-2" (click)="searchSubject()">Search</button>
      </div>
    </div>

    <!-- Subject List -->
    <table *ngIf="filteredSubjects.length > 0" class="table table-striped mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Subject Code</th>
          <th>Subject Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of filteredSubjects">
          <td>{{ filteredSubjects.indexOf(subject) + 1 }}</td>
          <td>{{ subject.subjectCode }}</td>
          <td>{{ subject.subjectName }}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteSubject(subject.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="filteredSubjects.length === 0 && role === 'CR'" class="text-danger">No Subjects teaching currently</p>
    <p *ngIf="filteredSubjects.length === 0 && role === 'USER'" class="text-danger">No Subjects studying currently</p>
  </div>
</div>
