<!-- Navbar -->
<nav class="navbar">
  <div class="navbar-content">
      <!-- Hamburger Button -->
      <button class="hamburger" (click)="toggleSidenav()" title="Toggle Menu" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars"></i>
      </button>

      <!-- Logo -->
      <div class="logo-container">
          <img src="assets/images/nitc_logo.png" alt="NITC Logo" class="logo">
          <p class="title">NATIONAL INSTITUTE OF TECHNOLOGY CALICUT</p>
      </div>

      <!-- Profile Dropdown -->
      <div class="profile-button btn-group">
          <button type="button" class="btn dropdown-toggle" (click)="toggleProfileDropdown()" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
          </button>
          <div class="dropdown-menu" [class.show]="isProfileOpen">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item btn btn-danger px-4 py-2" (click)="logout()">Logout</button>
          </div>
      </div>
  </div>
</nav>

<!-- Sidenav -->
<div id="sidenav" class="sidenav" [class.show]="isSidenavOpen">
  <button type="button" class="btn-close" aria-label="Close" (click)="toggleSidenav()"></button>
  <ul class="list-unstyled ps-3">
      <li *ngFor="let item of menuItems">
          <a class="nav-link" (click)="handleMenuClick(item)">
              <i [class]="item.icon"></i> {{ item.title }}
          </a>
      </li>
  </ul>
</div>
