<body>
  <app-navbar-loggedin></app-navbar-loggedin>
  <div class="profile-container">
    <!-- Back Button -->
    <button class="back-btn" (click)="goBack()">
      <i class="fas fa-arrow-left"></i>
    </button>
  
    <h2 class="profile-title">PROFILE</h2>
  
    <div class="profile-card">
      <!-- Profile Info -->
      <div class="profile-info">
        <div class="info-box">
          <label>First Name</label>
          <p>{{ firstName }}</p>
        </div>
        <div class="info-box">
          <label>Last Name</label>
          <p>{{ lastName }}</p>
        </div>
  
        <div class="info-box" *ngIf="isAdmin === true || isCR === true">
          <label>Role</label>
          <p>{{ role === 'CR' ? 'TEACHER' : role === 'USER' ? 'STUDENT' : role }}</p>
        </div>
  
        <div class="info-box" *ngIf="isAdmin === false && role !== 'CR'">
          <label>Roll Number</label>
          <p>{{ rollNo }}</p>
        </div>
  
        <!-- Logout Button -->
        <button class="logout-btn" (click)="logout()">LOGOUT</button>
      </div>
    </div>
  </div>
  
</body>