<body>
  <app-navbar-loggedin></app-navbar-loggedin>
  <div class="container-fluid">
    <div class="registration-card">
      <h2>KEY REGISTRATION</h2>
      <form (ngSubmit)="registerKey()">
        <label for="keyId">keyId</label>
        <input type="text" id="keyId" [(ngModel)]="keyId" name="keyId" required placeholder="Enter Room No"/>
        <label for="location">Location</label>
        <select id="location" [(ngModel)]="location" name="location" required>
          <option value="" disabled selected>Select Classroom Location</option>
          <option value="ELHC">ELHC</option>
          <option value="NLHC">NLHC</option>
          <option value="ECLHC">ECLHC</option>
          <option value="MB">Main Building</option>
        </select>
        <button type="submit" class="generate-btn">
          Register
        </button>
      </form>
    </div>
  </div>  
</body>