/* Container for Centering Elements */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures full viewport height */
  width: 100wh;
  background-color: rgb(240, 253, 183);
  box-sizing: border-box; /* Ensures padding/margin doesn't affect width */
  gap: 20px;
}

/* Button Styling */
.button {
  background-color: #f0f0f0;
  color: #333;
  padding: 1rem 2rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 350px;
  max-width: 90%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-weight: bold;
}

/* Button Hover Effect */
.button:hover {
  transform: translateY(-3px);
  background-color: #e0e0e0;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
}
