<app-navbar></app-navbar>
<body>
  <div class="content_container">
    <p class="welcome_text">WELCOME TO CLASS ROOM KEY AND CYCLE MANAGEMENT SYSTEM</p>
    <div class="login_box">
      <div class="user_login">
        <p>USER LOGIN</p>
      </div>
      <div class="secondhalf">
        <div class="input_field">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required placeholder="Enter your username">
        </div>
        <div class="input_field">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required placeholder="Enter your password">
        </div>
        <div class="links">
          <a href="#"><u>Are you an admin?</u></a>
          <a href="#"><u>Not a User? Register Here</u></a>
        </div>
        <div class="login_button">
          <button type="submit" class="btn btn-primary">LOGIN</button>
        </div>
        <div class="google_login">
          <button class="btn btn-secondary"> Sign in with Google</button>
        </div>
      </div>
    </div>
  </div>
</body>
