.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #c2b6f1;
}

.registration-card {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 400px;
  margin-top:80px;
}

h2 {
  font-family: 'Arial Black', sans-serif;
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.generate-btn {
  margin-top: 20px;
  background-color: #ffcc00;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #ffcc00;
}
.qr-icon {
  margin-left: 8px;
}

@media (max-width: 600px) {
  .registration-card {
    padding: 1.5rem;
  }
}
